:root {
    /* Colores generales */
    --true-color-empresa: darkgreen;
    --true-background-color: darkgreen;
    --true-letras-color: black;
    --true-header-color: #12a223;
    --true-border-color: darkgreen;

    /* BUTTON */
    /* ENABLED */
    --true-button-color: darkgreen;
    --true-button-border: green;
    --true-button-background: white;
    /* ENABLED HOVER */
    --true-button-hover-color: white;
    --true-button-hover-border: darkgreen;
    --true-button-hover-background: #12a223;
    --true-button-hover-color-plus: yellow;
    /* DISABLED */
    --true-button-disabled-color: grey;
    --true-button-disabled-border: grey;
    --true-button-disabled-background: white;    

    /* Desplegables */
    --true-select-background-color:  rgb(155, 240, 86);
    --true-background-error: rgb(226, 170, 170);
    
    /* SIDE MENU */
    --true-menu-background: white;
    --true-menu-color: white;
    --true-menu-bar-color: silver;
    --true-menu-bar-letras: black;

}